.row {
    display: flex;
    margin: 20px;

}
.col{
    flex: 1;
    border: 1px solid black;
    text-align: center;
    margin: 1px;
    background-color: lightgreen;
}
.col-2 {
    flex: 2;
    border: 1px solid black;
    text-align: center;
    margin: 1px;
    background-color: lightblue;
}
.col-3 {
    flex: 3;
    border: 1px solid black;
    text-align: center;
    margin: 1px;
    background-color: lightyellow;
}